<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome! <%= @user.name %></h1>
  <p>
    You have sucessfully signed up!
    Your username is: <%= @user.login %>.
  </p>
  <p>
    To login, please follow the link <%= @url %>
  </p>
</body>
</html>
